.paginate{
    justify-content: baseline;
    align-items: center;
}
.paginate ul{
    display: flex;
    gap: 0.3rem;
    justify-content: flex-end;
    cursor: pointer;
   color: #000;
}
li{
    list-style: none;   
}
.page-link{
    color: black;
}
.arrowback{
    color: #9b9b9b;
    
}

@media (max-width:480px) {
    .page-item{
        display: none;
    }
    .paginate ul{
       justify-content: center; 
       /* gap: .7rem; */
    }
    .pagenext{
        display: none;
    }
}