.top-header {
  width: 100%;
  background-color: #f4f6f7;
  height: 100%;
}

.profile {
  width: 100%;
  height: 235px;
  background: linear-gradient(to right, #0033a1 0%, #0099a8 100%);
  display: flex;
  justify-content: space-between;
}

.profile .logo-profile img {
  width: 60%;
  margin: 20px 0;
}

.drop-down img {
  width: 50%;
  margin: 15px 0;
}

.name-profile {
  display: flex;
  justify-content: space-between;
  color: #f4f6f7;
  text-align: center;
  justify-content: center;
  margin-top: 25px;
}

.name-icon {
  width: 3.063rem;
  height: 3.063rem;
  justify-content: center;
  text-align: center;
  background-color: #3e3e3e;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
}

.name-profile {
  display: flex;
  justify-content: center;
  padding: 15px;
  gap: 0.2rem;
  margin: 0;
}
.name-profile .name-title {
  margin-top: 1rem;
}

.flex-contentbtn {
  display: flex;
  justify-content: space-between;
}
.inner-container {
  width: 100%;
  margin: 0 auto;
  padding: 0.3em;
}

/* Second div */
.campaign-recent {
  width: 100%;
}

.campaign-intro {
  margin-bottom: 10px;
  bottom: 20%;
  position: relative;
}

.campaign-intro h4 {
  font-size: 20px;
  font-family: Lato;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  padding-left: 15px;
}

.line {
  height: 1px;
  background-color: #ededed;
  margin-bottom: .5rem;
}
.location {
  display: flex;
  justify-content: baseline;
  padding: 0 0.5rem;
  gap: 0.2rem;
}
.click {
  color: #014ca7;
}
.campaign-recent .inner-container {
  height: 162px;
  padding: 61px 0 8px 5px;
  border-radius: 16px;
  background-color: #fff;
  margin-top: -104px;
  margin-bottom: 1.5em;
}

.inner-container hr {
  background-color: #ededed;
}

.inner-container h4 {
  margin-bottom: 10px;
}

.des {
  padding: 10px;
  text-align: left;
}

.des h6 {
  color: rgba(0, 0, 0, 0.64);
}

.release-container {
  display: flex;
  flex-direction: column;
}

.release-title h4 {
  margin-left: 10px;
  font-size: 18px;
  color: #707070;
}

.release-hitory {
  /* padding-left: 30px; */
  width: 100%;
}

.campaign {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 16px;
  background-color: #fff;
  margin-bottom: 10px;
}

.new-release {
  width: 100%;
  text-align: left;
}

.create-campaign {
  width: 100%;
  height: 74%;
  /* padding: 81px 79px 81px 79px; */
  border-radius: 16px;
  background-color: #fff;
  align-items: center;
  text-align: center;
  font-size: 5px;
  display: flex;
  justify-content: space-around;
}

.create-campaign .create-image img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.create-button button {
  width: 100%;
  height: 3.5rem;
  border: none;
  border-radius: 26px;
  color: white;
  background: linear-gradient(
    142deg,
    rgba(0, 44, 196, 1) 5%,
    rgba(0, 180, 169, 1) 97%
  );
}

.devices {
  margin-left: auto;
  font-size: 12px;
  display: none;
  position: absolute;
  z-index: 1;
}
.devices span {
  font-family: Lato;
  font-size: 10px;
}
.os-icon {
  background: #eeeeee;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 30px;
}

@media (min-width: 980px) {
  .release-container {
    display: flex;
    flex-direction: row;
  }

  .release-hitory {
    padding-left: 30px;
    width: 70%;
  }

  .create-campaign .create-image img {
    width: 70%;
    height: 100%;
    border-radius: 16px;
  }

  .create-campaign {
    padding: 71px 89px;
    flex-direction: column;
  }

  .create-campaign > div {
    width: 100%;
  }

  .new-release {
    width: 30%;
  }

  .inner-container {
    width: 85%;
    margin: 0 auto;
  }

  .create-button button {
    margin: 48px 21.1px 30px;
  }
  .devices {
    display: flex;
    position: static;
    z-index: 1;
  }
}
