.top-header{
    width: 100%;
    background-color: #f4f6f7;
}
.profile{
    width: 100%;
    height: 235px;
    background: linear-gradient(to right, #0033a1 0%, #0099a8 100%);
    display: flex;
    justify-content: space-between;
}
.profile .logo-profile img{
    width:60%;
    margin: 20px 0 ;
}
.drop-down img{
    width:50%;
    margin: 15px 0 ;
}
.name-profile{
    display: flex;
    justify-content: space-between;  
    color: #f4f6f7;
    text-align: center;
    justify-content: center;
    margin: 20px 0 ;
    gap: 0.78rem;
}
.name-profile .name-icon{
    width: 3.063rem;
    height:3.063rem;
    justify-content: center;
    background-color: #3e3e3e;
    border-radius: 3rem;
    display: flex;
    flex-direction:column ;
    
}

a{
    padding: 10px;
}
.name-profile .name-title{
    display: flex;
}
.name-profile .name-title .name{
    justify-content: center;
}
.flex-contentbtn{
    display: flex;
    justify-content: space-between;
}


.inner-container{
    width: 80%;
    margin: 0 auto;
}

/* Second div */
.campaign-recent{
    width: 100%;  
}
.campaign-intro h4{
    font-size: 20px;
    font-family: Lato;
}
.campaign-address .location
{
    display: flex;
    padding: 5px;
    
}

.campaign-recent .inner-container{
    height: 162px;
    padding: 61px 0 8px 5px;
    border-radius: 16px;
    background-color: #fff;
    margin-top: -95px;
    margin-bottom: 1.5em;

}
.inner-container hr{
    background-color: #ededed;
}
.inner-container h4{
    margin-bottom: 10px;
}

.des{
    padding: 10px;
    text-align: left;
}

.release-container{
    display: flex;
    text-align: center;
}
.release-hitory{
    text-align: left;
    padding-left: 30px;
    width: 70%;
}
.release-title{
    margin:30px 0;
    text-align: left;
}

.campaign{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 16px;
    background-color: #fff;
    margin-bottom: 10px;
}
.create-campaign{
    width: 100%;
    height: 401px;
    padding: 81px 60px 92px 79px;
    border-radius: 16px;
    background-color: #fff;  
}


.create-campaign .create-image img{
    width: 50%;
}

.create-button button{
    width: 222.9px;
    height: 55px;
    margin: 48px 21.1px 0 23px;
    padding: 18px 36.8px 18px 43.8px;
    border-radius: 26px;
    color: white;
    outline: none;
    cursor: pointer;
    background: linear-gradient(142deg, rgba(0,44,196,1) 5%, rgba(0,180,169,1) 97%);
    
}
.devices{
    margin-left: auto;
    font-size: 12px;
}
.os-icon{
    background: #f0f0f0;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 30px;
    
}
