.popup {
  display: flex;
  justify-content: center;
  position: absolute;
  max-width: 488px;
  padding: 2rem;
  gap: 1rem;
  /* border: 1px solid rgb(238, 231, 231); */
  border-radius: 2rem;
  top: 60%;
  right: 5%;
  background-color: #fff;
}
.device {
  display: flex;
  align-items: start;
}
.resend-btn button {
  padding: 1rem;
  border-radius: 2rem;
  border: none;
}
.descriptions span {
  text-align: left;
  color: rgba(0, 0, 0, 0.64);
}
.resend-btn {
  display: flex;
  justify-content: end;
  gap: 0.2rem;
  width: 100%;
}
.resend-btn div:first-child button {
  background: transparent;
}
.resend-btn div:last-child button {
  background: linear-gradient(
    142deg,
    rgba(0, 44, 196, 1) 5%,
    rgba(0, 180, 169, 1) 97%
  );
  padding: 1rem 2.3rem;
  color: white;
}
.info div:first-child h4{
    font-size: 25px;
    padding-bottom: .3rem;
}