.modal {
  background-color: #fff;
  align-self: center;
  padding: 30px;
  border-radius: 10px;
}

.cancelIcon button{
  margin-bottom: 5px;
  float: right;  
  border: none;
  background-color: transparent;
}
