.modal {
  background-color: #fff;
  align-self: center;
  padding: 30px;
  border-radius: 10px;
}

.modal:has(div.modal-position) {
  align-self: flex-end;
  margin: 0 6em 6em 0;
  border-radius: 2rem;
}

.modalBackground:has(div.modal-position) {
  justify-content: end;
}

.cancelIcon button {
  margin-bottom: 5px;
  float: right;
  border: none;
  background-color: transparent;
}
