.campaign-form {
      border-radius: 10px;  
    background-color: #fff;
     width: 400px; 
    height: 100%;
}
 
input[type="file"] {
    display: none;
}
.upload {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
    input[type=text]{
        width: 100%;
        padding: 12px 20px;
        border-radius: 8px;
        background-color: #F3F3F3;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;    
    }
    .input-box input:last-child {
        width: 100%;
        /* height: 147px; */
        flex-grow: 0;
        /* margin: 18px 0 0; */
        padding: 23px 285px 102px 21px; 
        border-radius: 8px;
        background-color: #f3f3f3;


    }
    .description{
        height: 75px;
        line-height: 75px;
        padding: 5px;
    }
.uploadIcon{
        width: 100%;
        height: 70%;
        padding: 50px;
        border-radius: 8px;
        background-color:#F3F3F3;
        border-radius: 8px;
        text-align: center;
    }
input[type=text] {
    width: 100%;
        padding: 12px 20px;
        border-radius: 8px;
        background-color: #F3F3F3;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        
}
placeholder{
    color:rgba(155, 155, 155,0.56)

}
.description placeholder{
    padding-bottom: 15px;
}

.description {
    height: 75px;
    line-height: 75px;
    padding: 5px;
} 
.os-check{
    justify-content: space-between;
    display: flex;
}
.form-actions {
    display: flex;
    justify-content: space-between;
}

.form-actions :first-child {
    margin-top:5px;
     display: flex;
    justify-content: space-between;
}
.campaignTitle :first-child{
    margin-top:5px;

}
.campaignTitle :last-child{
    margin-top:5px;

}
.action-right{
    display: flex;
    gap: 0.5rem;
    text-align: center;
    justify-content: center;
     
}
.action-right div:first-child button{
  width: 100px;
  height: 39px;
  padding: 5px 20px 5px 20px;
  border-radius: 9px;
  background-color: transparent;
  margin-top: 5px;
  border: none;
   
}
.action-right div:last-child button{
 width: 100px;
  height: 39px;
   flex-grow: 0; 
  padding: 5px 20px 5px 20px;
  /* border-radius: 9px; */
  background-color: rgba(234, 234, 236, 0.58);
  font-family: Lato;
  font-size: 16px;
  font-weight: 600;
  background-color: rgb(230, 228, 228);
  justify-content: center
}
 
.btn-container{
    display: flex;
}

span {
    padding: 5px;
}
.btn-icons {
    line-height: 24px;
    text-align: center;   
    padding-right: 30px;
    font-stretch: normal;
    font-style: normal;
    padding-right: 100px;
}
 

button img {
    width: 22px;
    height: 22px;
    vertical-align: middle;
}
 
 .heading{
    text-align:left;
    margin-bottom: 1rem;

}
div.uploadFile{
    text-align:left;
    padding-top:10px;
}
.addTitle label{
    text-align:left;
    padding: top 30px;

}
.btn-icons span{

    padding: right 5px ; 
}
 
div.heading{
    text-align:left;
    padding-bottom:10px; 
}
div.subheading{
    text-align:left;
    padding-top:10px; 
}
.upload-text{
    text-align:left;
    padding-top:10px;
}
.upload-text-addtitle{
    padding-bottom:10px; 
}
div.Web{
    padding-left: 30px;
}
div.Android{
    padding-left: 30px;
}
div.iOS{
    padding-left: 30px;
}
div.Corporate{
    padding-left: 30px;
}