.campaign-form{
    border-radius: 10px;
    background-color: #fff;
  }
  input[type="file"] {
    display: none;
     
}
.upload{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    

}
    input[type=text]{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        
        
    }
    .description{
        height: 75px;
        line-height: 75px;
        padding: 5px;
    }
.uploadIcon{
    width: 100%;
    padding: 30px;
    border-radius: 8px;
    background-color: #f3f3f3;
}
.btn1 {
    margin-right: 50px;
}
.btn2 {
    margin-right: 50px;
    
}
.os-check{
    justify-content: space-between;
    display: flex;
}
.form-actions{
    display: flex;
    padding:10px;
    justify-content: space-between;
}

.action-left{
    padding: 20px;
}


.action-right{
    display: flex;
    padding: 10px;

}
span {
    padding: 5px;
}
  
btn-icons{
    display: flex;
   align-items: center;
   text-align:center;
   margin-right: 50px;
}
